body {
   background-image:url(https://media.discordapp.net/attachments/849858824754954260/850931788816973844/IMG_20210605_204225.png?width=505&height=657) ;
   background-repeat: no-repeat;
   background-size : cover ;

}
.weed {
   text-align: center;
   text-decoration-color:black;
   text-size-adjust: 1000px 1000px;
}
.hello {
   text-align: center;
   text-size-adjust: 
   1000px 1000px;
text-decoration-color: blueviolet;
}
